
<h1 style="color: red; margin-left: 150px;">Contact Our</h1>
<h1 style="color: black;margin-left: 50px;">Customer Support Center</h1>
<h3 style="margin-left: 350px;">Contact Information</h3>
<h4 style="margin-left: 300px;">Please fill out your contact information below</h4>
<h5>Name*</h5>
<input type="text"  style="width: 300px; height: 30px;"><input type="text" style="width: 300px; height: 30px;margin-left: 50px;">
<h5>Email*</h5>
<input type="email" style="width: 800px; height: 30px;">
<h5>Phone*</h5>
<input type="text" style="width: 800px; height: 30px;">
<h5>Address*</h5>
<input type="text" style="width: 800px; height: 30px;">
<router-outlet></router-outlet>