<div style="text-align: center;background-color:lightgrey;">
  <h1 style="color: black;">Bug Report</h1>
  <h5>Please be as detailed as possible to aid us in the troubleshooting process.</h5>
</div>

<small>Your name*</small><br>
<input type="text" placeholder= "First name" style ="width: 50%;height: 30px;margin-bottom: 20px;"><input type="text" placeholder= "Last name" style="margin-left:20px;width:47%;height: 30px;">

<small>Email*</small><br>
<input type="email" style="width:99% ;height: 30px;margin-bottom: 20px;">

<small>Date and time you first noticed this bug*</small><br>
<input type="date" style="height: 30px;"><br>
<input type="time" style="height: 30px;margin-bottom: 20px;">

<small>Impact</small><br>
<select style="width:99% ;height: 30px;margin-bottom: 20px;" >
  <option >low</option>
  <option >high</option>
  <option >medium</option>
  <option >critical</option>
</select><br>

<small>Detailed explanation of bug*</small><br>
<textarea style="width: 99%;height: 30px;"></textarea>



<router-outlet></router-outlet>